@font-face {
    font-family: digital7;
    src: url('./assets/fonts/digital-7-font/Digital7-rg1mL.ttf')
}

:root {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    text-align: center;
}

h1 {
    font-size: 3em;
    padding: 0 1em;
}
